<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h4>Made with <span class="heart"><i class="fa fa-heart"></i></span> by Mihir Kumar Singh</h4>
            </div>
            <div class="col-md-6 col-sm-12">
                <h4>&copy Copyright 2019, <span class="spannedText">BurstShot Photography</span></h4>
            </div>
        </div>
        
        <div class="mylinks">
            <ul>
                <li><span class="instagram"><a target="_blank" href="https://www.instagram.com/_mihir02_/"><i class="fa fa-instagram"></i></a></span></li>
                <li><span class="facebook"><a target="_blank" href="https://www.facebook.com/mihir.kumarsingh.9"><i class="fa fa-facebook"></i></a></span></li>
                <li><span class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/mihir-kumar-singh-595b19164"><i class="fa fa-linkedin"></i></a></span></li>
            </ul> 
        </div>
    </div>
</section>
</body>
</html>