<section id="footer">
    <div class="container"> 
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h4>Made with <span class="heart"><i class="fa fa-heart"></i></span> by Mihir Kumar Singh</h4>
            </div>
            <div class="col-md-6 col-sm-12">
                <h4>Copyright &copy 2020, <span class="spannedText">BurstShot Photography</span></h4>
            </div>
        </div>
        
        <div class="mylinks">
            <ul>
                <li><span class="instagram"><a target="_blank" href="https://www.instagram.com/b_u_r_s_t_shot/"><i class="fa fa-instagram"></i></a></span></li>
                <li><span class="facebook"><a target="_blank" href="https://www.facebook.com/b_u_r_s_t_shot-102344514591681/"><i class="fa fa-facebook"></i></a></span></li>
                <li><span class="gmail"><a target="_top" href="mailto:burstshotphotography@gmail.com?Subject=Hey%20there"><i class="fa fa-envelope"></i></a></span></li>
            </ul> 
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.menu i').click(function(){
            $('nav').toggleClass('moreHeight');
            $('ul').toggleClass('active');
        })
    })

    var icon = document.getElementById('icon');
    var menu = document.getElementById('menu');

    menu.addEventListener('click', function(){
        if(icon.classList.contains('fa-bars')){
            icon.classList.remove('fa-bars');
            icon.classList.add('fa-close');
        } else {
            icon.classList.remove('fa-close');
            icon.classList.add('fa-bars');
        } 
    });

    var mybutton = document.getElementById("myBtn");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

    // A function that gets rid of the preloader
    window.addEventListener('load', function(){
        const preload = document.querySelector('.preload');
        preload.classList.add('preload-finish');
    });

</script>
</body>
</html>