<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
    <meta name="author" content="Mihir Kumar Singh">
    <meta name="keywords" content="pic, photo, photography, image, upload, burstshot">
    <meta name="description" content="Get your photographs featured on my instagram page, and view my photographs too.">

    <link rel="canonical" href="https://burstshot.herokuapp.com">
    <link rel="shortcut icon" type="image/PNG" href="../img/favicon.PNG">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>New Post | BurstShot Photography</title>
</head>

<body>
    <%- include('../partials/nav') %>
    <section id="post">
        <div class="container">
            <a class="button button-back" href="/photographs"><i class="material-icons">arrow_back</i></a>
            <h2>ADD POST</h2>
            <div class="form-holder-new-post">
                <form action="/photographs" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <input class="input-field" type="text" name="photographer" placeholder="Clicked by..">
                    </div>
                    <div class="row">
                        <input class="input-field" type="text" name="location" placeholder="Location..">
                    </div>
                    <div class="row">
                        <textarea class="input-field" type="text" name="caption" placeholder="Caption.."></textarea>
                    </div>
                    <div class="row">
                        <input class="input-field" type="text" name="instagram" placeholder="Instagram URL..">
                    </div>
                    <div class="row">
                        <input class="input-field" type="text" name="featured" placeholder="FEATURED: true or false..">
                    </div>
                    <div class="row">
                        <input class="input-field input-file" type="file" name="image">
                    </div>
                    <div class="row">
                        <button class="button button-submit">Submit</button>
                    </div>
                </form>
            </div>      
        </div>
    </section>

<%- include('../partials/footer') %>