<!DOCTYPE html>
<html lang="en">
<head>
    <title>Parallax Wall | BurstShot Photography | Feature Your Photos | Follow Me | Get In Touch | Photos for All</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
    <meta name="author" content="Mihir Kumar Singh">
    <meta name="keywords" content="Photography, BurstShot, Burst, Shot, Photography, Images, Photos, DSLR, Mobile, Website, Clicks, Photographs, Upload, Feature, Smartphone, Dp, Hindi, BurstShot meaning, Welcome to Burstshot, Best mode">
    <meta name="description" content="Get your photographs featured on my Instagram page, view my photographs too, get in touch and do follow the page if you like the content.">

    <link rel="canonical" href="https://burstshot.herokuapp.com">
    <link rel="shortcut icon" type="image/PNG" href="../img/favicon.PNG">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <%- include('../partials/nav') %>
    
    <section id="parallax" class="parallax">
        <div class="parallax-text">
            <h1>Hello Hello!!</h1>
            <h1>Hello Hello!!</h1>
            <h1>Hello Hello!!</h1>
            <h1>Hello Hello!!</h1>
            <h1>Hello Hello!!</h1>
            <h1>Hello Hello!!</h1>
            <h1>Hello Hello!!</h1>
            <h1>Hello Hello!!</h1>
            <h1>Hello Hello!!</h1>
            <h1>Hello Hello!!</h1>
            <h1>Hello Hello!!</h1>
            <h1>Hello Hello!!</h1>
            <h1>Hello Hello!!</h1>
        </div>
        <div class="parallax-content">
            
        </div>
    </section>
    
    <%- include('../partials/footer') %>