<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
    <meta name="author" content="Mihir Kumar Singh">
    <meta name="keywords" content="pic, photo, photography, image, upload, burstshot">
    <meta name="description" content="Get your photographs featured on my instagram page, and view my photographs too.">

    <link rel="canonical" href="https://burstshot.herokuapp.com">
    <link rel="shortcut icon" type="image/PNG" href="../img/favicon.PNG">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="../stylesheets/style.css">

    <title>No Content Here!</title>
</head>
<body>
    <div class="welcomeText">
        <div class="welcomeBox">
            <h1>Error <span class="spannedText">404</span> Not Found!</h1>
            <br>
            <a class="button button-success" href="/">GO BACK</a>
            <a class="sideInstagram leftside" target="_blank" href="https://www.instagram.com/b_u_r_s_t_shot/"><i class="fa fa-instagram"></i></a>
            <span class="spannedFollow"> Follow Me</span>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

<%- include('partials/footer') %>