<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mihir Kumar Singh">
    <meta name="keywords" content="pic, photo, photography, image, upload, burstshot">
    <meta name="description" content="A website to display the pictures from my Instagram profile">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="../stylesheets/style.css">

    <title>BurstShot Photography</title>
</head>

<body>
    <div class="welcomeText">
        <div class="welcomeBox">
            <h1>This is <span class="spannedText">B&nbspu&nbspr&nbsps&nbspt&nbspShot</span> Photography</h1>
            <br>
            <a class="button button-success" href="/photographs">VIEW ALL PHOTOS</a>
            <a class="sideButton rightside" href="#contact"><i class="material-icons">contact_mail</i></a>
            <a class="sideInstagram leftside" target="_blank" href="https://www.instagram.com/b_u_r_s_t_shot/"><i class="fa fa-instagram"></i></a>
            <span class="spannedFollow"> Follow Me</span>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <img src="../img/hooman.png" alt="Hooman">
                </div>
                <div class="col-md-8 col-sm-12">
                    <h2>CONTACT ME</h2>
                    <div class="form-holder">
                        <form action="/mail" method="post">
                            <div class="row">
                                <input class="input-field" type="text" name="name" placeholder="Name..">
                            </div>
                            <div class="row">
                                <input class="input-field" type="email" name="email" placeholder="Email..">
                            </div>
                            <div class="row">
                                <input class="input-field" type="text" name="instagram" placeholder="Instagram Username..">
                            </div>
                            <div class="row">
                                <input class="input-field" type="text" name="message" placeholder="The message..">
                            </div>
                            <div class="row">
                                <button class="button button-submit" type="submit">Submit</button>
                            </div>
                        </form>                    
                    </div>  
                </div>
            </div>        
        </div>    
    </section>
    
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h4>Made with <span class="heart"><i class="fa fa-heart"></i></span> by Mihir Kumar Singh</h4>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h4>&copy Copyright 2019, <span class="spannedText">BurstShot Photography</span></h4>
                </div>
            </div>
            
            <div class="mylinks">
                <ul>
                    <li><span class="instagram"><a target="_blank" href="https://www.instagram.com/_mihir02_/"><i class="fa fa-instagram"></i></a></span></li>
                    <li><span class="facebook"><a target="_blank" href="https://www.facebook.com/mihir.kumarsingh.9"><i class="fa fa-facebook"></i></a></span></li>
                    <li><span class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/mihir-kumar-singh-595b19164"><i class="fa fa-linkedin"></i></a></span></li>
                </ul> 
            </div>
        </div>
    </section>
</body>
</html>