<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
    <meta name="author" content="Mihir Kumar Singh">
    <meta name="keywords" content="pic, photo, photography, image, upload, burstshot">
    <meta name="description" content="A website to display the pictures from my Instagram profile">

    <link rel="shortcut icon" type="image/PNG" href="../img/favicon.PNG">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/feature.css">

    <title>BurstShot Photography</title>
</head>

<body>
    <div class="welcomeText">
        <div class="welcomeBox">
            <h1><span class="spannedText">B&nbspu&nbspr&nbsps&nbspt&nbspShot</span> Photography</h1>
            <br>
            <a class="button button-success" href="/photographs">VIEW ALL PHOTOS</a>
            <a class="sideButton rightside" href="#feature"><i class="material-icons">camera_alt</i></a>
            <a class="sideInstagram leftside" target="_blank" href="https://www.instagram.com/b_u_r_s_t_shot/"><i class="fa fa-instagram"></i></a>
            <span class="spannedFollow"> Follow</span>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <section id="feature">
        <h1>GET FEATURED</h1>
        <div class="container form-container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="form-holder">
                        <form action="/feature" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <input class="input-field" type="text" name="photographer" placeholder="Clicked by..">
                            </div>
                            <div class="row">
                                <input class="input-field" type="text" name="instagram" placeholder="Instagram Username..">
                            </div>
                            <div class="row">
                                <input class="input-field" type="text" name="location" placeholder="Location..">
                            </div>
                            <div class="row">
                                <textarea class="input-field" type="text" name="caption" placeholder="Caption.."></textarea>
                            </div>
                            <div class="row">
                                <input class="input-field input-file" type="file" name="image">
                            </div>
                            <div class="row">
                                <button class="button button-submit">Submit</button>
                            </div>
                        </form>                  
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img class="shot" src="../img/shot.webp" alt="Shot">
                </div>
            </div>        
        </div>    
    </section>

    <section id="about">
        <h1>ABOUT ME</h1>
        <div class="container info">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <img class="me" src="../img/me.webp" alt="Me">
                </div>
                <div class="col-md-4 col-sm-12">
                    <h4>Hey there! I am <span class="words">Mihir Kumar Singh</span>, and</h4>
                    <h4>I present you with beautiful photos, which</h4> 
                    <h4>are sure to leave you spellbound.</h4>
                    <h4>The clicks on my page go from <span class="words">Nature</span> and</h4> 
                    <h4>come back to <span class="words">Food</span>, then move to <span class="words">Travel</span> and</h4> 
                    <h4>then continue to explore all fields.</h4>
                </div>
                <div class="col-md-4 col-sm-12 mylinks">
                    <h3>Get in Touch</h3>
                    <ul>
                        <li><span class="instagram"><a target="_blank" href="https://www.instagram.com/_mihir02_/"><i class="fa fa-instagram"></i></a></span></li>
                        <li><span class="facebook"><a target="_blank" href="https://www.facebook.com/mihir.kumarsingh.9"><i class="fa fa-facebook"></i></a></span></li>
                        <li><span class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/mihir-kumar-singh-595b19164"><i class="fa fa-linkedin"></i></a></span></li>
                    </ul> 
                </div>
            </div>        
        </div>    
    </section>

    <section id="contact">
        <h1>CONTACT ME</h1>
        <div class="container form-container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <img class="hooman" src="../img/hooman.webp" alt="Hooman">
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="form-holder">
                        <form action="/mail" method="post">
                            <div class="row">
                                <input class="input-field" type="text" name="name" placeholder="Name..">
                            </div>
                            <div class="row">
                                <input class="input-field" type="email" name="email" placeholder="Email..">
                            </div>
                            <div class="row">
                                <input class="input-field" type="text" name="instagram" placeholder="Instagram Username..">
                            </div>
                            <div class="row">
                                <textarea class="input-field" type="text" name="message" placeholder="The message.."></textarea>
                            </div>
                            <div class="row">
                                <button class="button button-submit" type="submit">Submit</button>
                            </div>
                        </form>                    
                    </div>  
                </div>
            </div>        
        </div>    
    </section>
    
<%- include('partials/footer') %>