.input-file{
    border: 1px solid black;
    background-color: lightyellow;
    width: 90%;
    padding: 10px 5px;
    margin-bottom: 3px;
    margin-left: 2vw;
}

@media only screen and (max-width: 768px){
    .input-file{
        margin-left: 5vw;
    }
}