nav{
    padding: 3vh 5vw;
    height: 15vh;
    overflow: hidden;
}

ul{ 
    float: right;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    font-size: 20px;
}

ul li:hover{
    font-size: 30px;
    animation: zoomIn 1s;
}

ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    float: left;
}

ul li a:hover{
    text-decoration: none;
    color: black;
}

.brand img{
    position: absolute;
    top: 2%;
    left: 5%;
    max-height: 10vh;
    max-width: 20vw;
}

.toggle{
    width: 100%;
    padding: 10px 20px 0 20px;
    text-align: right;
    box-sizing: border-box;
    color: black;
    font-size:30px;
    display: none;
}

.centered-logo{
    color: black;
    font-size: 30px;
}

.centered-logo a{
    color: black;
    font-size: 30px;
}

.centered-logo a:hover{
    text-decoration: none;
    animation: zoomInLogo 1s infinite;
}


.form-bg{
    background-color:black;
    color: lightyellow;
}

#post{
    box-shadow: 0 0 6px 2px black;
    padding: 10vh 0 15vh 0;
    text-align: center;
    background-color:black;
    border-bottom: 5px double white;
}

#post h2{
    font-weight: bold;
    color: yellow;
}

#feature-posts{
    box-shadow: 0 0 6px 2px black;
    padding: 10vh 0 15vh 0;
    text-align: center;
    background-color:black;
    border-bottom: 5px double white;
    color: yellow;
}

#feature-posts h4{
    color: yellow;
}

.button-back{
    color: black;
    background-color: white;
    padding: 10px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 20px;
}

.form-holder-new-post{
    margin: 0 auto;
    width: 40vw;
    padding: 50px 10px;
    border-radius: 4px;
    background-color:white;
    box-shadow: 0 0 2px 3px white;
}

.form-holder-new-post:hover{
    box-shadow: 0 0 5px 2px black;
    transition-duration: 0.5s;
}

.input-file{
    border: 1px solid black;
    background-color: lightyellow;
    width: 90%;
    padding: 10px 5px;
    margin-bottom: 3px;
    margin-left: 2vw;
}

.feature-image{
    max-width: 100%;
    max-height: 50%;
}

.images{
    min-height: 400px;
    text-align: center;
}

.images a{
    text-decoration: none;
    color: white;
}

#display{
    min-height: 50vh;
    background-color: black;
    padding: 10vh 0;
}

#display:hover{
    box-shadow: 0 0 8px 2px black;
    transition-duration: 0.5s;
}


#display h4{
    color: yellow;
}

.post-icon{
    margin-right: 1vw;
}


#show{
    color: white;
    padding: 5vh 0 10vh 0;
    min-height: 80vh;
    background-color:black;
    border-bottom: 5px double white;
}

#show h2{
    color: yellow;
}

.heading{
    text-align: center;
}

.caption{
    text-align: right;
}

.show-box{
    padding: 10vh 0;
}

.show-image{
    width: 50%;
    height: 50%;
}

.rightshift{
    text-align: right;
}

.leftshift{
    text-align: left;
}


@keyframes zoomIn{
    from{ font-size: 20px; }
    to{ font-size: 25px; }
}

@keyframes zoomInLogo{
    from{ font-size: 30px; }
    to{ font-size: 35px; }
}

@keyframes zoomNone{
    from { font-size: 20px;}
    to {font-size: 20px;}
}

@media only screen and (max-width: 600px){
    .feature-image{
        max-width: 50%;
    }

    .images{
        min-height: 350px;
    }

    .rightshift{
        text-align: center;
    }

    .leftshift{
        text-align: center;
    }

    .heading h2{
        font-size: 25px;
    }

    nav{ 
        height: 5vh;
        padding: 1vh 2vw;
    }

    .toggle{
        display: block;
    }

    ul{ 
        display: none;
        width: 100vw;
    }

    ul li{
        display: block;
    }

    ul li:hover{
        animation: zoomNone 1s infinite;
    }

    ul li i{
        margin-left: 25vw;
    }

    .moreHeight{
        height: 20vh;
    }

    .active{
        display: block;
    }

    .brand img{
        max-height: 8vh;
        max-width: 16vw;
    }
}

@media only screen and (max-width: 768px){
    .feature-image{
        max-width: 50%;
    }

    .rightshift{
        text-align: center;
    }

    .leftshift{
        text-align: center;
    }
    
    .heading h2{
        font-size: 25px;
    }

    nav{ 
        height: 5vh;
        padding: 1vh 2vw;
    }

    .toggle{
        display: block;
    }

    ul{ 
        display: none;
        width: 100vw;
    }

    ul li{
        display: block;
    }

    ul li:hover{
        animation: zoomNone 1s infinite;
    }

    ul li i{
        margin-left: 25vw;
    }

    .moreHeight{
        height: 50vh;
    }

    .active{
        display: block;
    }

    .brand img{
        max-height: 8vh;
        max-width: 16vw;
    }
}

@media only screen and (max-width: 992px){
    .feature-image{
        max-width: 55%;
    }

    .rightshift{
        text-align: center;
    }

    .leftshift{
        text-align: center;
    }

    .heading h2{
        font-size: 25px;
    }

    .form-holder-new-post{
        width: 90vw;
    }

    .brand img{
        max-height: 10vh;
        max-width: 20vw;
    }
}
