.myNav{
    padding: 3vh 5vw;
    height: 15vh;
    overflow: hidden;
}

.brand img{
    max-height: 7vh;
    max-width: 15vw;
}

.links{
    float: right;
    list-style-type: none;
}

.links li{
    display: inline;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    float: left;
    font-size: 20px;
}

.links a{
    color: black;
}

.links a:hover{
    text-decoration: none;
    font-size: 30px;
    animation: zoomIn 1s;
}

.centered-logo{
    position: absolute;
    left: 20%;
    top: 4%;
    color: black;
    font-size: 30px;
}

.centered-logo a{
    color: black;
    font-size: 30px;
}

.centered-logo a:hover{
    text-decoration: none;
    animation: zoomInLogo 1s infinite;
}


.form-bg{
    background-color:black;
    color: lightyellow;
}

#post{
    box-shadow: 0 0 6px 2px black;
    padding: 10vh 0 15vh 0;
    text-align: center;
    background-color:black;
    border-bottom: 5px double white;
}

#post h2{
    font-weight: bold;
    color: yellow;
}

#feature-posts{
    box-shadow: 0 0 6px 2px black;
    padding: 10vh 0 15vh 0;
    text-align: center;
    background-color:black;
    border-bottom: 5px double white;
    color: yellow;
}

#feature-posts h4{
    color: yellow;
}

.form-holder-new-post{
    margin: 0 auto;
    width: 40vw;
    padding: 50px 10px;
    border-radius: 4px;
    background-color:white;
    box-shadow: 0 0 2px 3px white;
}

.form-holder-new-post:hover{
    box-shadow: 0 0 5px 2px black;
    transition-duration: 0.5s;
}

.input-file{
    border: 1px solid black;
    background-color: lightyellow;
    width: 90%;
    padding: 10px 5px;
    margin-bottom: 3px;
    margin-left: 2vw;
}

.feature-image{
    max-width: 100%;
    max-height: 50%;
}

.images{
    min-height: 400px;
    text-align: center;
}

.images a{
    text-decoration: none;
    color: white;
}

#display{
    min-height: 50vh;
    background-color: black;
    padding: 10vh 0;
}

#display:hover{
    box-shadow: 0 0 8px 2px black;
    transition-duration: 0.5s;
}


#display h4{
    color: yellow;
}

.post-icon{
    margin-right: 1vw;
}


#show{
    color: white;
    padding: 5vh 0 10vh 0;
    min-height: 80vh;
    background-color:black;
    border-bottom: 5px double white;
}

#show h2{
    color: yellow;
}

.heading{
    text-align: center;
}

.caption{
    text-align: right;
}

.show-box{
    padding: 10vh 0;
}

.show-image{
    width: 50%;
    height: 50%;
}

.rightshift{
    text-align: right;
}

.leftshift{
    text-align: left;
}

@keyframes zoomIn{
    from{ font-size: 20px; }
    to{ font-size: 30px; }
}

@keyframes zoomInLogo{
    from{ font-size: 30px; }
    to{ font-size: 35px; }
}